---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    <div>
      <span>{{ post.title }}</span>  <!-- Changed to span without a link -->
      {% for tag in post.tags %}
        <span class="tag">{{ tag }}</span>  <!-- Changed to span without a link -->
      {% endfor %}
    </div>
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
